*{
    margin: 1.2px;
}
.head{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(189, 182, 182);
}
.logo{
   width: 110px; 
     mix-blend-mode:color-burn;
}
.nav_items{
    padding: 18px 20px;
}
.nav_items > ul {
    display: flex; 
    list-style-type: none;
    font-size: 20px;
}
.nav_items >ul >li{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
}
.res-card{
    display: flex;
    margin: 4px;
    flex-wrap: wrap;
}
.restaurant-cards{
    background-color:#faebcc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    color:#ee4f4f; 
    text-transform:capitalize;
    text-shadow: .5px  1px #0C1844;
}
.restaurant-cards:hover{
    cursor:pointer;
}
.restaurant-cards{
     width:244.25px;
     /* height: 300px;  */
    border: 2px solid #0C1844;
    border-radius: 3px;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content:space-between;
}
.restaurant-cards:hover{
    /* transform:translateY(1px); */
    border: 2px solid #453F78;
    transition: .8s ease ;
    transform: translate(1.2px, -2px);
    /* margin: 2px;
    padding: 1px; */
}
.res-logo{
     width:95%;
     padding: 4px;
     height:40%
}
.res-logo:hover{
    transform: translate(.5px,-2px);
}
