*{
    margin: 1.2px;
}
.head{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgb(189, 182, 182);
}
.logo{
   width: 110px; 
     mix-blend-mode:color-burn;
}
.nav_items{
    padding: 18px 20px;
}
.nav_items > ul {
    display: flex; 
    list-style-type: none;
    font-size: 20px;
    
    
    
}
.nav_items >ul >li{
    padding: 10px;
    margin: 10px;
}
.search{
    padding: 10px;
    
}
.res-card{
    display: flex;
    margin: 10px 180px ;
    flex-wrap: wrap;
}
.restaurant-cards{
    background-color:#faebcc;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 13.9px;
    color:#ee4f4f; 
    text-transform:capitalize;  
    text-shadow: .5px  1px #0C1844;
}
.restaurant-cards:hover{
    cursor:pointer;
}
.restaurant-cards{
     width:275px;
     /* height: 300px;  */
    border: 2px solid #0C1844;
    border-radius: 3px;
    /* flex-wrap: wrap; */
    display: flex;
    flex-direction: column;
  /* flex-wrap: wrap; */
  justify-content:space-between;
}
.restaurant-cards:hover{
    /* transform:translateY(1px); */
    border: 2px solid #453F78;
    transition: .8s ease ;
    transform: translate(1.2px, -2px);
    /* margin: 2px;
    padding: 1px; */
}
.res-logo{
     width:95%;
     padding: 4px;
     height:40%
}
.res-logo:hover{
    transform: translate(.5px,-2px);
}
.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}
.shimmer-card{
    width: 244.25px;
    height: 400px; border-radius: 3px;
    background-color: #dcdcdc;
}
.filter-btn{
    cursor: pointer;
    padding: auto;
     margin:10px;
    border: none;
    color: rgb(255, 255, 255);
    border-radius: 2px;
    height: 30px;
    /* font-weight: 300; */
    background-color: rgb(57, 113, 162);
    font-family: Georgia, 'Times New Roman', Times, serif
}
.filter-btn:hover{
    color:rgb(255, 106, 0);
    background-color: rgb(255, 255, 255);
    transition: 0.8s;   
    border: 2px solid rgb(34, 34, 34);
}
.btn{
    display: flex; justify-content: space-around;
}
.btn-search{
    height: 30px;
    width: 70px;
    margin:0px 10px;
    color: rgb(67, 36, 192);
    background-color: whitesmoke;
}
.input-search{
    height: 25px;

}
.search-btn{
    margin: 10px;
}